* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    width: 100%;
    background-size: 300% 300%;
    background-image: linear-gradient(3deg, #80a5b5 30%,  #3e5976 35%, #2d4664 37%, #0d1d34 45%,#061127 50%);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #ffffff;
    animation: fondoAnimado 10s ease-in infinite;
    line-height: 1.6;
}
@keyframes fondoAnimado {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

.container {
    margin: 0 ;
    padding: 20px;
    min-height: 100vh; /* Asegura que el contenido ocupe toda la altura de la pantalla */
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    text-align: center;
}
.header img {
    max-width: 100px;
}

/* Main Content */
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 1;
}

.content, .content1 {
    flex: 1 1 45%;
    padding: 20px;
}

.content {
    text-align: center;
    font-size: 17px;
}
.content h1 {
    font-size: 50px;
}
.back-arrow {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    color: #fff;
    display: none; 
    transition: all 0.3s ease;
}

.back-arrow:hover {
    transform: scale(1.2);
}

/* Para hacer el formulario más cómodo al usuario */
.form {
    position: relative; /* Necesario para la flecha */
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    background-color: rgba(240, 248, 255, 0.096);
    border-radius: 25px;
    transition: .4s ease-in-out;
    color: #000000;
}

.form:hover {
    transform: scale(1.05);
    box-shadow: inset 2px 5px 10px rgba(5, 5, 5, 0.2);
}


#heading {
    text-align: center;
    margin: 2em;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.nameUsuario {
    display: flex;
    gap: 10px;
    justify-content: space-between; /* Distribuye los campos de forma equitativa */
    width: 100%;
}

.field, .fieldRegister {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: aliceblue;
    box-shadow: inset 2px 5px 10px rgba(5, 5, 5, 0.55);
    flex-grow: 1; 
}
.fieldRegister {
    display: none;
}

.input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: rgb(0, 0, 0);
}

.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #000000;
}

.form .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 40px 0 40px;
    gap: 20px;
}

.haveAccount {
    display: none;
    color: #00d9ff;
    cursor: pointer;
}

.styled-button {
    position: relative;
    padding: 5px 15px;
    font-size: 13px;
    color: #000000;
    background: linear-gradient(to bottom, rgb(190, 191, 191), aliceblue);
    border-radius: 9999px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 10px 20px rgba(0, 0, 0, 0.4);
    transition: all 0.2s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.styled-button .inner-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #0b2049, #062709);
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border-radius: 50%;
    box-shadow: 0 0 1px rgba(0, 0, 0, 1);
    border: 1px solid #252525;
    transition: all 0.2s ease;
}

.styled-button .inner-button .icon {
    filter: drop-shadow(0 10px 20px rgba(26, 25, 25, 0.9))
    drop-shadow(0 0 4px rgba(0, 0, 0, 1));
    transition: all 0.4s ease-in-out;
}

.styled-button:hover .inner-button .icon {
    filter: drop-shadow(0 10px 20px rgba(50, 50, 50, 1))
    drop-shadow(0 0 20px rgba(2, 2, 2, 1));
    transform: rotate(-35deg);
}



